<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Coherence Detection Tool</title>
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/forms"></script>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

<style>
  body {
    font-family: 'Open Sans', sans-serif;
  }
  .funny-logo {
    background-image: url('https://picsum.photos/800/600');
    background-size: cover;
    background-position: center;
    height: 100px;
    width: 100px;
  }
  .coherence-icon {
    font-size: 2rem;
  }
  /* CSS for selected profile */
  .profile-button.selected {
    background-color: #4CAF50; /* Change the background color to green */
    color: white; /* Change the text color to white */
  }

  .unuseful{ display: none; }
  .error-msg{ font-weight: bold; color: red;}
</style>
</head>
<body class="bg-white text-gray-800">

<div class="flex flex-col items-center justify-center min-h-screen p-4">
  <header class="text-2xl font-bold text-green-500 mb-8">
    <div class="funny-logo rounded-full mb-4"></div>
    Your Congruence Assistant
  </header>

  <div class="w-full max-w-4xl bg-gray-100 p-6 rounded-lg shadow-lg">
    <div class="flex justify-between items-center mb-4">
      <h1 class="text-xl font-semibold">RaCA</h1>
      <button id="toggleSidebar" class="px-4 py-2 bg-gray-200 rounded hover:bg-gray-300 focus:outline-none">
        Add Profile
      </button>
    </div>


    <form id="demo_form" method="post" enctype="application/json">

      <label for='selected_demo'>Demo:</label>
        <select name="demos" id="selected_demo">
          <option value="">--Please choose a demo--</option>
          <option value="generate paragraph">generate paragraph</option>
          <option value="compute congruence">compute congruence</option>
          <option value="fetch GS">fetch GS</option>
        </select>
      <br />
      <div class="text-input input1">
        <label for='txt_input'>Text Input1:</label><br />
        <textarea id="txt_input" class="form-textarea w-full mb-4 p-2 border rounded" rows="3" placeholder="text input..."></textarea><br />
      </div>

      <div class="text-input input2 unuseful">
        <label for='txt_input2'>Text Input2:</label><br />
        <textarea id="txt_input2" class="form-textarea w-full mb-4 p-2 border rounded" rows="3" placeholder="text input..."></textarea><br />
      </div>

      <label for='nb_of_words'>Number of Words:</label><input type="text" id="nb_of_words" value="100"/><br />
      <label for='scale'>Scale:</label><input type="text" id="scale" value="[-1,0,1]"/><br />

      <div class="unuseful">
        <label for='metric'>Metric:</label><input type="text" id="metric" value="coherence score"/><br />
        <label for='provider'>Provider:</label><input type="text" id="provider" value="default_provider"/><br />
      </div>
      <!-- Hidden box for fetching RP -->
      <input type="hidden" id="personal_ids" placeholder="author_id"/>

      <button id="submitText" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none">
        Submit
      </button>

    </form>
    
    <div class="mt-4">
      <h2 class="font-semibold mb-2">Response</h2>
      <div id="response" class="p-4 bg-gray-200 rounded flex items-center">
      </div>
    </div>
    
    <div class="mt-4">
      <h2 class="font-semibold mb-2">Error</h2>
      <div id="error" class="error-msg p-4 bg-gray-200 rounded">
      </div>
    </div>
  </div>

  
      


  <!-- RP Sidebar -->  
  <div id="sidebar" class="fixed top-0 right-0 w-64 h-full bg-black text-white p-4 hidden">
    <div class="flex flex-col items-center">
      <h2 class="text-xl font-semibold mb-4">Reader Profile</h2>
      <div class="w-full mb-4">
        <div class="flex items-center justify-between p-2 mb-2 rounded bg-gray-800 cursor-pointer profile-button" data-profile="Layman">
          <span>Layman (no id)</span>
          <span class="text-purple-400">🧐</span>
        </div>
        <div class="flex items-center justify-between p-2 mb-2 rounded bg-gray-800 cursor-pointer profile-button"
         data-profile="Jeremy"
         data-personal_id="2191982532">
          <span>Alice</span>
          <span class="text-purple-400">🧙‍♂️</span>
        </div>
        <div class="flex items-center justify-between p-2 mb-2 rounded bg-gray-800 cursor-pointer profile-button" 
          data-profile="Danai"
          data-personal_id="35278460">
          <span>Benjamin</span>
          <span class="text-yellow-400">🐱</span>
        </div>
        <div class="flex items-center justify-between p-2 mb-2 rounded bg-gray-800 cursor-pointer profile-button" 
          data-profile="Simon"
          data-personal_id="47299473">
          <span>Liam</span>
          <span class="text-green-400">👨‍🍳</span>
        </div>
        <div class="flex items-center justify-between p-2 mb-2 rounded bg-gray-800 cursor-pointer profile-button" data-profile="peer discovery">
          <span>Peer Discovery (no id)</span>
          <span class="text-purple-400">🧞‍♂️</span>
        </div>
      
        <!-- Other reader profiles here -->
      </div>
      <div class="text-center text-gray-400">
        ...
      </div>
      
    </div>
  </div>


</div>


<!-- SCRIPTS -->
  <!-- Sidebar controller-->
  </div><script src="{{url_for('static', filename='ui_controller_profile_sidebar.js')}}"></script>

  <!-- Demo controller -->
  <script src="{{url_for('static', filename='client_controller_demo.js')}}"></script>

</body>
</html>
